
  p{
    font-family: Verdana;
  }
  .text{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .text1{
    color: grey;
    margin-top: 1px;
    font-size: 18px;
  }

  .text2{
    width:300px;
    font-weight: lighter;
    
  }

  .button{
    background-color: green;
    color: white;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 8px;
    border-radius: 8px;
  }